.boton__icon{
    width: 1.5rem;
    position: absolute;
    
    right: 0;
    margin-right: 1rem;

    fill: var(--color-font);
    transition: .3s;
}

/*M Ó V I L*/
@media (max-width: 575.98px){
    .boton__icon{
        display: none;
    }
}

/*T A B L E T*/
@media (min-width: 576px) and (max-width: 991.98px){
    
}