.proyecto__imagen{
    width: 47rem;

    border-radius: 5px;
}

/*M Ó V I L*/
@media (max-width: 575.98px){
    .proyecto__imagen{
        width: 18.5rem;
    }
}

/*T A B L E T*/
@media (min-width: 576px) and (max-width: 991.98px){
    .proyecto__imagen{
        width: 44rem;
    }    
}