.slider{
    width: 47rem;
    height: auto;
    overflow: hidden;
}

/*M Ó V I L*/
@media (max-width: 575.98px){

}

/*T A B L E T A*/
@media (max-width: 768px) {
    .slider{
        width: 95%;
    }
}