.redes__link{
    display: flex;
    align-items: center;
    
    font-size: 1rem;
    color: var(--color-titulo);
}

/*M Ó V I L*/
@media (max-width: 575.98px){
    .redes__link{
        font-size: .875rem;
    }
}

/*T A B L E T A*/
@media (max-width: 768px) {
    .redes__link{
        font-size: 1rem;
    }
}