:root{
    --black: #212121;
    --rojo-base: #FF0000;

    --color-font: #F5F5F5;
    --color-titulo: #DF2525;

    --tarjeta: #61677A;

    --background-1: #F9F5EB;
    --background-2: #E4DCCF;
    --color-boton: #4F709C;

    --monserrat: 'Monserrat', sans-serif;
    --geologica: 'Geologica', sans-serif;
    --raleway: 'Raleway', sans-serif;

}

body{
    font-family: var(--monserrat);
    background: var(--black);
}

.titulo{
    font-family: var(--geologica);
    font-size: 2rem;
}

.parrafo{
    font-family: var(--raleway);
    font-size: 1.125rem;
}

.boton-iluminado:hover{
    background: var(--color-font);
    color: var(--background-1);
    transition: 1s;
}

/*M Ó V I L*/
@media (max-width: 575.98px){
    .titulo{
        font-size: 1.375rem;
    }
}

/*T A B L E T A*/
@media (max-width: 768px) {
    .titulo{
        font-size: 1.375rem;
    }
}