:root{
    --black: #212121;
    --rojo-difuminado: #950101;
    --rojo-base: #FF0000;

    --color-font: #F5F5F5;

    --background-1: #F9F5EB;
    --background-2: #E4DCCF;
    --color-boton: #4F709C;

    --monserrat: 'Monserrat', sans-serif;
    --geologica: 'Geologica', sans-serif;
    --raleway: 'Raleway', sans-serif;

    --warning-color: #df2525;
}

body{
    font-family: var(--monserrat);
    background: var(--black);
}

.titulo{
    font-family: var(--geologica);
    color: var(--color-font);
    margin-top: 1rem;
    font-size: 2rem;
}

.boton-iluminado:hover{
    background: var(--color-font);
    color: var(--background-1);
    transition: 1s;
}

/*M Ó V I L*/
@media (max-width: 575.98px){
    .titulo{
        font-size: 1.375rem;
    }
}

@media (max-width: 768px) {
    .titulo{
        font-size: 1.375rem;
    }
}