.footer{
    width: 100vw;
    background: var(--background-1);
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: var(--raleway);
    display: flex;
    flex-direction: column;
    align-items: center;
}
