.skill{
    width: 90%;
    margin: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    padding: 3rem 0;

    border-top: 1px solid var(--color-font);
}

/*M Ó V I L*/
@media (max-width: 575.98px){
    
}

@media (min-width: 576px) and (max-width: 991.98px){

}