.sobre{
    display: flex;
    padding: 3rem 0;

    border-top: 1px solid var(--color-font);
}

/*M Ó V I L*/
@media (max-width: 575.98px){
    .sobre__contenedor{
        width: 90vw;
        padding-right: 5%;
        padding-bottom: 2.5rem;
    }

    .sobre__parrafo{
        font-weight: lighter;
        font-size: 1rem;
    }
}

/*T A B L E T*/
@media (min-width: 576px) and (max-width: 991.98px){
    .sobre__contenedor{
        width: 90vw;
        padding-right: 5%;
        padding-bottom: 2.5rem;
    }

    .sobre__parrafo{
        font-weight: lighter;
        font-size: 1rem;
    }
}