.sobre__contenedor{
    background: var(--background-2);
    display: flex;
    flex-direction: column;
    padding: 3% 30% 3% 5%;
}

.sobre__parrafo{
    font-family: var(--raleway);
    font-size: 1.125rem;
    font-weight: bold;
    padding-top: 2%;
}

@media (min-width: 576px) and (max-width: 991.98px){
    .sobre__contenedor{
        width: 90vw;
        padding-right: 5%;
        padding-bottom: 2.5rem;
    }

    .sobre__parrafo{
        font-weight: lighter;
        font-size: 1rem;
    }
}